{% extends "base.html" %}
{% block content %}
<table class="table">
  <tr>
    <th>User</th>
    <th>Date</th>
    <th>Systems Hit</th>
    <th>Details</th>
  </tr>
  {% if journals != false %}
  {% for j in journals.data.journals %}
  <tr>
    <th>{{j.source.user}}</th>
    <th>{{j.source.date|to_human_date}}</th>
    <th>{{j.source.hosts|length}}</th>
    <th><a href="/view/{{j.id}}">View Details</a></th>
  </tr>
  {% endfor %}
  {% else %}
  <tr>
    <td colspan="4"><strong>No data currently available.</strong></td>
  </tr>
  {% endif %}
</table>
{% endblock %}
