{% extends "base.html" %}
{% block content %}

<table class="table">
  <thead>
    <th>System</th>
    <th>Tasks</th>
    <th>Success</th>
    <th>Failed</th>
    <th>Details</th>
  </thead>
  {% for host in journal.data.hosts %}    
  <tr>
    <td>{{journal.data.hosts[host].name}}</td>
    <td>{{journal.data.hosts[host].tasks|length}}</td>
    <td>{{journal.data.hosts[host].success}}</td>
    <td>{{journal.data.hosts[host].failed}}</td>
    <td><a href="/view/system/{{journal.data.hosts[host].name}}/{{journal.id}}">View Details</a></td>
  </tr>
  {% endfor %}
</table>

{% endblock %}

